
<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Frej & Thies Heiraten - Anmelden</title>

  <link rel="stylesheet" href="/static/invites/css/bootstrap.css">
  <link rel="stylesheet" href="/static/invites/css/rsvp.css">
  <link rel="stylesheet" href="/static/invites/css/login.css">

</head>
<body>

 <div class="container-fluid">
  <div class="row min-vh-100">
    <div class="col-md-8"></div>
    <div class="col-md-4 blurred-right">
      <div class="box box-top tinted">
        <h1 class="title-white">Thies & Frej Heiraten</h1>
        <h3 class="beautiful-text">Und wollen das du dabei bist!</h3>
      </div>
      <div class="box box-bottom">
        <label for="id_code" class="form-label">
          Gib hier den Code auf der Einladung ein, oder scanne den QR Code um direkt angemeldet zu werden.
        </label>

        {% if msg %}
          <p style="color:red">{{ msg }}</p>
        {% endif %}

        <form method="post">
          {% csrf_token %}
          {{ form.code }}
          <button class="btn btn-success mt-3" type="submit">Einloggen</button>
        </form>
      </div>

    </div>
  </div>
</div>

</body>
</html>