
<!doctype html>
<html lang="de">
<head><meta charset="utf-8"><title>Frej & Thies Heiraten - Antwort eingereicht</title>

  <link rel="stylesheet" href="/static/invites/css/bootstrap.css">
    <link rel="stylesheet" href="/static/invites/css/rsvp.css">
</head>
<body>

{% if invite.type == "family" %}
    <h1 class="title">Danke für eure Antwort {{ invite.name }}!</h1>
    <p>Ihr könnt eure Antworten noch bis zum <span class="monospace">{{ siteconfig.rsvp_deadline }}</span> ändern. Benutzt dafür einfach beim Login erneut euren Code ( <span class="monospace">{{ invite.code }}</span> ) oder Scannt den QR-Code erneut.</p>
    {% if rsvp.guests_count > 1 %}
        <p>
        {% if rsvp.attending %}
            Ihr kommt zu {{ rsvp.guests_count }}. .
        {% else %}
            Ihr habt abgelehnt.
        {% endif %}
        </p>
    {% else %}
  <p>
    {% if rsvp.attending %}
        Einer von euch kommt.
    {% else %}
        Ihr habt abgelehnt.
    {% endif %}
  </p>
{% endif %}
{% else %}
    <h1 class="title">Danke für deine Antwort {{ invite.name }}!</h1>

  <p>Du kannst deine Antworten noch bis zum <span class="monospace">{{ siteconfig.rsvp_deadline }}</span> ändern. Benutze dafür einfach beim Login erneut deinen Code ( <span class="monospace">{{ invite.code }}</span> ) oder Scanne den QR-Code erneut.</p>
  <p>{% if rsvp.attending %}Du kommst {% if rsvp.guests_count > 2 %}mit {{ rsvp.guests_count }} Gästen.{% elif rsvp.guests_count > 1 %}mit einem Gast.{% else %}alleine.{% endif %}{% else %}Du hast abgelehnt.{% endif %}</p>
{% endif %}
<h1 class="title">Bis dahin!</h1>
<h2 class="font-meddon">Frej & Thies</h2>

</body>
</html>