<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>RSVP für {{ invite.name }}</title>
  <link rel="stylesheet" href="/static/invites/css/bootstrap.css">
  <link rel="stylesheet" href="/static/invites/css/rsvp.css">
</head>
<body>
{{ persons|default:"[]"|json_script:"existingPersons-data" }}
{{ rsvp.guests_count|default:0|json_script:"initialGuests-data" }}
{{ rsvp.attending|default:None|json_script:"initialAttending-data" }}

<h1 class="title">Hallo {{ invite.name }}</h1>
<h3>
{% if invite.type == "family" %}
Wir würden euch gerne zu unserer Hochzeit am {{ siteconfig.event_date }} in {{ siteconfig.event_location }} einladen.
{% else %}
  Wir würden dich gerne zu unserer Hochzeit am {{ siteconfig.event_date }} in {{ siteconfig.event_location }} einladen.
{% endif %}
</h3>
<h5>
{% if invite.type == "family" %}
  Damit wir besser planen können, bitten wir euch dieses Formular auszufüllen.
{% else %}
  Damit wir besser planen können, bitten wir dich dieses Formular auszufüllen.
{% endif %}
</h5>

<hr class="my-4">


{% if invite.type == "family" %}
<h4>Nehmt ihr an unserer Hochzeitsfeier teil?</h4>
{% else %}
<h4>Nimmst du an unserer Hochzeitsfeier teil?</h4>
{% endif %}
<form method="post" id="rsvp-form">
  {% csrf_token %}

  <!-- Teilnahme Ja/Nein -->
  <div class="mb-3">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="attending" id="attending_true" value="True" {% if rsvp.attending %}checked{% endif %}>
      <label class="form-check-label" for="attending_true">Ja</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="attending" id="attending_false" value="False" {% if rsvp.attending is not None and not rsvp.attending %}checked{% endif %}>
      <label class="form-check-label" for="attending_false">Nein</label>
    </div>
  </div>
<!-- Details: werden bei Nein ausgeblendet -->
<div id="attend-details">

  <div class="mb-3">
      
    <label for="guest-count" class="form-label">
      {% if invite.type == "family" %}Mit wie vielen Personen kommt ihr?{% else %}Mit wie vielen Personen kommst du?{% endif %}
      <span id="guest-count-display">0</span> / {{ max_guests }}
    </label>
    <input type="range" class="form-range" id="guest-count" name="guests_count"
           min="1" max="{{ max_guests }}"
           value="{% if rsvp.guests_count is not None %}{{ rsvp.guests_count }}{% elif invite.type == 'family' %}2{% else %}1{% endif %}">

  </div>
  <div id="persons-container"></div>
</div>


  <button class="btn btn-primary" type="submit">Absenden</button>
</form>

<script>
  const maxGuests = {{ max_guests|default:1 }};
  const defaultGuests = {% if rsvp.guests_count is not None %}{{ rsvp.guests_count }}{% elif invite.typ == "family" %}2{% else %}1{% endif %};
</script>
<script src="/static/invites/js/rsvp.js"></script>
<script src="/static/invites/js/popper.min.js"></script>
<script src="/static/invites/js/bootstrap.js"></script>
</body>
</html>
