
img {
  border: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

@font-face {
    font-family: 'greatvibes';
    src: url('/static/invites/fonts/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'meddon';
    src: url('/static/invites/fonts/Meddon.ttf') format('truetype');
}

@font-face {
    font-family: 'parisienne';
    src: url('/static/invites/fonts/Parisienne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'lucien';
    src: url('/static/invites/fonts/Lucien-Regular.ttf') format('truetype');
}
h1.title {
    font-family: 'greatvibes', cursive;
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.font-meddon {
    font-family: 'meddon', cursive;
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
}

.txt-center {
    text-align: center;
}

h1.title-white {
    font-family: 'greatvibes', cursive;
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
body {
  background-color: #f4f7ff;
  font-family: 'arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 2;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

span.monospace {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: #e8e8e8;
    padding: 2px 4px;
    border-radius: 3px;
}

form {
  background: #ffffff;
  border-radius: 3px;
  font-size: 25px;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

table {
  border-collapse: separate;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  min-width: 100%;
  width: 100%; }
  table td {
    font-family: sans-serif;
    font-size: 14px;
    vertical-align: top;
}

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */

.body {
  background-color: #f4f7ff;
  width: 100%;
}

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block;
  Margin: 0 auto !important;
  /* makes it centered */
  max-width: 580px;
  padding: 10px;
  width: 580px;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  box-sizing: border-box;
  display: block;
  Margin: 0 auto;
  max-width: 580px;
  padding: 10px;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
.main {
  background: #ffffff;
  border-radius: 3px;
  width: 100%;
}

.header {
  padding: 20px 0;
}

.wrapper {
  box-sizing: border-box;
  padding: 30px;
}

.content-block {
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer {
  clear: both;
  Margin-top: 10px;
  text-align: center;
  width: 100%;
}
  .footer td,
  .footer p,
  .footer span,
  .footer a {
    color: #9a9ea6;
    font-size: 12px;
    text-align: center;
}

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3,
h4 {
  color: #06090f;
  font-family: 'arial', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 30px;
}

h1 {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
}

p,
ul,
ol {
  font-family: 'arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
  p li,
  ul li,
  ol li {
    list-style-position: inside;
    margin-left: 5px;
}

a {
  color: #ec0867;
  text-decoration: underline;
}

/* -------------------------------------
    BUTTONS
------------------------------------- */
.btn {
  box-sizing: border-box;
  font-family: 'lucien', sans-serif;
  font-size: 26px;
  font-weight: bold;
  width: 100%; }
  .btn > tbody > tr > td {
    padding-top: 15px; }
  .btn table {
    min-width: auto;
    width: auto;
}
  .btn table td {
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
}
  .btn a {
    background-color: #ffffff;
    border: solid 1px #01244D;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ec0867;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s;
}

.btn-primary table td {
  background-color: #01244D;
}

.btn-primary a {
  background-color: #01244D;
  border-color: #01244D;
  color: #ffffff;
}

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
  margin-bottom: 0;
}

.first {
  margin-top: 0;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.clear {
  clear: both;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.preheader {
  color: transparent;
  display: none;
  height: 0;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  mso-hide: all;
  visibility: hidden;
  width: 0;
}

.powered-by a {
  text-decoration: none;
}

hr {
  border: 0;
  border-bottom: 1px solid #f6f6f6;
  Margin: 20px 0;
}

/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 620px) {
  table[class=body] h1 {
    font-size: 28px !important;
    margin-bottom: 10px !important;
  }
  table[class=body] p,
  table[class=body] ul,
  table[class=body] ol,
  table[class=body] td,
  table[class=body] span,
  table[class=body] a {
    font-size: 16px !important;
  }
  table[class=body] .wrapper,
  table[class=body] .article {
    padding: 10px !important;
  }
  table[class=body] .content {
    padding: 0 !important;
  }
  table[class=body] .container {
    padding: 0 !important;
    width: 100% !important;
  }
  table[class=body] .main {
    border-left-width: 0 !important;
    border-radius: 0 !important;
    border-right-width: 0 !important;
  }
  table[class=body] .btn table {
    width: 100% !important;
  }
  table[class=body] .btn a {
    width: 100% !important;
  }
  table[class=body] .img-responsive {
    height: auto !important;
    max-width: 100% !important;
    width: auto !important;
  }
}

/* -------------------------------------
    PRESERVE THESE STYLES IN THE HEAD
------------------------------------- */
@media all {
  .ExternalClass {
    width: 100%;
  }
  .ExternalClass,
  .ExternalClass p,
  .ExternalClass span,
  .ExternalClass font,
  .ExternalClass td,
  .ExternalClass div {
    line-height: 100%;
  }
  .apple-link a {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    text-decoration: none !important;
  }
  .btn-primary table td:hover {
    background-color: #d5075d !important;
  }
  .btn-primary a:hover {
    background-color: #333333;
    border-color: #333333;
  }
}